$color-primary: #192735;
$color-primary-variant: #141F2A;

$color-secondary: #3FBFFF;
$color-secondary-variant: #349FD4;

$color-background: #0F171F;
$color-surface: #1F2F3F;

$error-color: #F77;
$success-color: #7F7;

$color-on-primary: #FFF;
$color-on-secondary: #000;
$color-on-background: #FFF;
$color-on-surface: #FFF;

$margin-default: 1rem 0;

$border-width-default: .125rem;
$border-radius-default: .5rem;

$padding-default: 1rem;

$gap-default: 1rem;